/*
*
* Global Level Variables
* Can (and should) be used throughout the styleguide .SCSS files
*/

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color__black: #000;
$color__blue--light: #9CC0F0;
$color__grey--light: #D3D3D3;
$color__green: #2E9347;
$color__purple: #7B4B94;
$color__red--dark: #B81F24;
$color__white: #FFF;

$color__error: $color__red--dark;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary-font-family: 'Josefin Sans', sans-serif;
