.alert--success {
   font-family: $primary-font-family;
   width: 40%;
   margin:auto;
   padding:15px;
   border-radius: 25px;
   border:solid 1px;
   text-align: center;

     .success--h {
      font-size:25px;
      padding-top:15px;
      color:$color__green;
    }
      .success--p {
      padding-bottom:15px;
      margin:50px;
    }
    .success--btn {
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 50px;
      border: 2px solid $color__green;
      border-radius: 40px;
      background: transparent;
      color:#2E9347;
      letter-spacing: 1px;
      font-size: 15px;
    }
}


.alert--error {

   font-family: $primary-font-family;
   width: 40%;
   margin:auto;
   padding:15px;
   border-radius: 25px;
   border:solid 1px;
   text-align: center;

    .error--btn {
      color:$color__red--dark;
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 50px;
      border: 2px solid $color__red--dark;
      background:$color__red--dark;
      border-radius: 40px;
      color:  $color__white;
      letter-spacing: 1px;
      font-size: 15px;

    }
    .error--h {
      color:$color__red--dark;
      font-size:25px;
    }
}

.alert-warning {
  padding: 20px;
  background: $color__error;
  color: white;
  font-family:$primary-font-family;
}