
/* MAIN BUTTON CLASS */
.btn {
    text-decoration: none;
    border-radius: 0.3em;
    border: 1px solid $color__black;
    padding: 0.75em 1.25em;
    font-size: 1em;
    color: $color__black;

    /* REGULAR BUTTON COLORS */
    &--green {
        background-color: $color__green;
        color: $color__white;
    }
    &--black {
        background-color: $color__black;
        color: $color__white;
    }
    &--blue--light {
        background-color: $color__blue--light;
        color: $color__black;
    }
    /* OUTLINE BUTTONS */
    // .btn--outline--green
    &--outline {
        &--green {
            background-color: $color__white;
            border-color: $color__green;
            color: $color__green;
        }
    }
}

.btn--grey--light {
    background-color: $color__grey--light;
    color: $color__black;
}

.btn--purple {
    background-color: $color__purple;
    color: $color__white;
}

.btn--red--dark {
    background-color: $color__red--dark;
    color: $color__white;
}

.btn--white {
    background-color: $color__white;
    color: $color__black;
}



.btn--outline--black {
    background-color: $color__white;
    border-color: $color__black;
    color: $color__black;
}

.btn--outline--blue--light {
    background-color: $color__white;
    border-color: $color__blue--light;
    color: $color__blue--light;
}

.btn--outline--grey--light {
    background-color: $color__white;
    border-color: $color__grey--light;
    color: $color__grey--light;
}

.btn--outline--purple {
    background-color: $color__white;
    border-color: $color__purple ;
    color: $color__purple ;
}

.btn--outline--red--dark {
    background-color: $color__white;
    border-color: $color__red--dark;
    color: $color__red--dark;
}

/* BUTTON SIZES */
.btn--large {
    padding: 0.6em 1.4em;
    font-size: 1.5em;
    text-align: center;
}
.btn--small {
    padding: 0.5em 0.8em;
    font-size: 0.8em;
}

/* FULL-WIDTH BUUTON */
.btn--block {
    display: block;
    width: 95%;
    text-align: center;
}
