h4 {
    text-decoration: underline;
}

.icon__social {
    padding-right: 1em;
}

.div__main {
    padding-top: 5em;
    text-align: center;
}

.img__main {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.img__small {
    width: 75%;
}

.img--centered {
    text-align: center;
}

.form__hide {
    display: none;
<<<<<<< HEAD
=======
}

.btn--post {
    width: 100%;
    margin-top: 1em;
    line-height: 1em;
>>>>>>> 61483aad389d8ea5003e5ba21061d00e77cf3768
}