/*
*   Contains styles related to the header
*/

.site-header {
    &__nav {
        list-style-type: none;
        margin: 10px;
        padding: 3%;
        overflow: hidden;
        width: 100%;

        &-item {
            float: left;
            margin-left: 2.75%;
        }
    }

}