/* colors: h1 #2E9E47 (green), h2 #7b4b94 (purple), h3 #9cd0f0 (light blue), h4 #b81f24 (dark red), h5 #d3d3d3 (light gray), h6 #000 (black)
fonts added with tag in html head + css font-family (note: logo font is not available on Google fonts and will use system sans-seriff default)
<link href= "https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet"> */
$logo-font: Carlito, sans-serif;
$base-font: 'Josefin Sans', sans-serif;
$colors: '#', '#', '#', '#';
body {
  font-family: $base-font; 
}

h1{
   font-family: $logo-font;
    color: #2E9E47;
}

h2{
   color:  #7b4b94;
}
h3{
   color: #9cd0f0;
}
h4 {
   color: #b81f24;
}
h5 {
   color: #d3d3d3;
}
h6{
   color: #000;
}
h2, h3{
  font-style: Bold Italic;
}
h4, h5, h6{
  font-style: regular;
}

p {
  font-style: light;
}
/* define class colors for override */
.error {
    color: #b81f24;
}
.purple {
    color: #7b4b94;
}
.green {
    color: #2E9E47;
}
.light blue{
   color: #9cd0f0;
}
.light--gray {
   color: #d3d3d3;
}
.black{
   color: #000;
}
.white{
   color: #FFF;
}
