.nav-side-menu {
  overflow: auto;
  position: fixed;
  top: 0;
  width: 200px;
  height: 100vh;
}
.brand {
  line-height: 50px;
  display: block;
}

.table, .text-success, .text-warning, input {
    font-size: 1.1em !important;
}

@media only screen and (max-width: 600px) {
  footer {

  }
}
@media only screen and (max-width: 600px) {
  header {

      }
  }

